.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal p {
  font-size: 90%;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #2f4f4f;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none;
}

.reveal h2.invert {
    color: white;
}

.reveal ul li {
  padding: 20px 0px;
}

.reveal ul.smaller {
  font-size: 25pt;
  padding: 20px 0px;
}

.reveal div.block {
  background: rgb(255,255,255);
  font-size: 25pt;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 20px;
}

.reveal tr {
  border: collapse;
  color: #2f4f4f;
  text-align: center;
  vertical-align: middle;
}

.reveal div.banner {
    background-color: #2f4f4f;
    color: white;
    padding: 5px;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;

}

.reveal #title-footer {
    height: 3vh;
    font-size: 14pt;
}

.reveal #title-footer a {
    color: white;
    word-spacing: 3px;
}


.reveal .progress {
    height: 3px;
    background-color: #2f4f4f;
}

.reveal .progress span {
    background-color: gold;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
    border-left-color: gold;
}

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
    border-right-color: gold;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
    border-bottom-color: gold;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
    border-top-color: gold;
}

.reveal pre code mark {
  color: black !important;
  background-color: yellow !important;
}


/* custome blocks */

.reveal div.sideblock {
     background-color: gold;
     width: 100%;
     height: 600%;
     position: absolute;
     top: -100%;
     left: -50%;
     z-index: -1;
     border: none;
}

.reveal div.lowblock {
  background-color: gold;
  color: black;
  width: 200%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: -50%;
  z-index: -1;
}

.reveal div.highblock {
  background-color: white;
  color: black;
  width: 200%;
  height: 100%;
  position: fixed;
  bottom: 50%;
  left: -50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}
